<ion-content *ngIf="!loading; else loadingTpl">
  <div class="container">
    <section class="segment col-1 span-6 row-1 cavallo-header">
      <img src="https://api.palioapp.com/images/cavalli/palio.png" class="cavallo-foto" />
      <h2 class="cavallo-naam-groot">
        {{ getTranslation('titelProtocollo') }} {{ anno }}
      </h2>
    </section>

    <section class="segment col-1 span-1 row-2 wide-segment">
      <ion-button class="home-button" *ngIf="anno !== eersteJaar" (click)="gaNaarVorigJaar()">
        {{ getTranslation('annoPrecedente') }}
      </ion-button>
    </section>

    <section class="segment col-6 span-1 row-2 wide-segment">
      <ion-button class="home-button" *ngIf="annoNumber !== huidigJaar" (click)="gaNaarVolgendeJaar()">
        {{ getTranslation('annoSuccessivo') }}
      </ion-button>
    </section>

    <ng-container *ngIf="alboCavalli && alboCavalli.length > 0; else alternatiefTpl">

    <section class="segment col-1 span-6 row-3 wide-segment">
      <div class="subsegment">
        <p class="custom"
          [innerHTML]="getTranslationParams('infoProtocollo', { totaal, anno, aantalAmmesso, nietAmmesso, aantalAssente })">
        </p>
      </div>
    </section>

    <section class="segment col-1 span-6 row-4 wide-segment">
      <div class="subsegment">
        <div class="searchbar-wrapper">
          <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="filterCavalli()" debounce="300"
            [placeholder]="getTranslation('search_placeholderCavallo')" class="custom"></ion-searchbar>
        </div>
        <ion-grid class="palio-grid no-mobile-stack">
          <!-- Desktop: tonen bij breed scherm -->
          <ion-row class="equal-height-row row-header hide-on-mobile">
            <ion-col size="10" size-md="10" size-lg="10">
              <ion-text class="cavallo-label"><span>{{ getTranslation('cavallo') }}</span></ion-text>
            </ion-col>
            <ion-col size="1" size-md="1" size-lg="1">
              <ion-text class="cavallo-label"><span>{{ getTranslation('ammesso') }}</span></ion-text>
            </ion-col>
            <ion-col size="1" size-md="1" size-lg="1">
              <ion-text class="cavallo-label"><span>{{ getTranslation('assente') }}</span></ion-text>
            </ion-col>
          </ion-row>
          <!-- Mobiel: tonen bij smal scherm -->
          <ion-row class="equal-height-row row-header show-on-mobile">
            <ion-col>
              <ion-text class="cavallo-label"><span>{{ getTranslation('cavallo') }} - {{ getTranslation('ammesso') }} -
                  {{ getTranslation('assente') }}</span></ion-text>
            </ion-col>
          </ion-row>

          <ion-row *ngFor="let p of alboCavalli; let i = index" class="equal-height-row palio-mobile-stack">
            <ion-col (click)="goToCavalloDetail(p.cavalloId)" [style.cursor]="'pointer'" size="10" size-md="10"
              size-lg="10">
              <div style="display: flex; align-items: center; gap: 8px;">
                <img *ngIf="p.cavalloFoto" [src]="p.cavalloFoto" class="img-palio" />
                <ion-text class="cavallo-label">
                  <span>{{ p.cavalloNome }}</span>
                </ion-text>
              </div>
            </ion-col>
            <ion-col size="1" size-md="1" size-lg="1">
              <div style="display: flex; justify-content: center; align-items: center; height: 100%;">
                <ion-text class="cavallo-label">
                  <span [style.color]="p.ammesso ? 'green' : 'red'">
                    {{ p.ammesso ? '✔' : '✘' }}
                  </span>
                </ion-text>
              </div>
            </ion-col>
            <ion-col size="1" size-md="1" size-lg="1">
              <div style="display: flex; justify-content: center; align-items: center; height: 100%;">
                <ion-text class="cavallo-label">
                  <span [style.color]="p.assente ? 'green' : 'red'">
                    {{ p.assente ? '✔' : '✘' }}
                  </span>
                </ion-text>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
        <div *ngIf="alboCavalli.length === 0 && !loading" class="no-results">
          <ion-text class="cavallo-label" style="margin-left: 10px;">
            <span>
              {{ getTranslation('noResult') }}
            </span>
          </ion-text>
        </div>
      </div>
    </section>
  </ng-container>

  <ng-template #alternatiefTpl>
    <section class="segment col-1 span-6 row-3 wide-segment">
      <div class="subsegment">
        <p class="custom"
          [innerHTML]="getTranslationParams('geenProtocollo', { anno })">
        </p>
      </div>
    </section>
  </ng-template>

  </div>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="scrollToTop()" color="secondary">
      <ion-icon name="chevron-up-circle" color="primary"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ng-template #loadingTpl>
  <div class="spinner-wrapper">
    <ion-spinner name="circular" color="light" class="ion-padding"></ion-spinner>
  </div>
</ng-template>