<ion-content *ngIf="!loading; else loadingTpl">
  <div class="container">

    <section class="segment col-1 span-6 row-1 cavallo-header">
      <img src="https://api.palioapp.com/images/cavalli/palio.png" class="cavallo-foto" />
      <h2 class="cavallo-naam-groot">
        {{ getTranslation('titelStatistiche') }}
      </h2>
    </section>
  </div>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="scrollToTop()" color="secondary">
      <ion-icon name="chevron-up-circle" color="primary"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ng-template #loadingTpl>
  <div class="spinner-wrapper">
    <ion-spinner name="dots" class="ion-padding"></ion-spinner>
  </div>
</ng-template>



