<ion-content *ngIf="fantino; else loadingTpl">
  <div class="container">
    <section class="segment col-1 span-6 row-1 cavallo-header">
      <img [src]="fantino.foto" class="cavallo-foto" />
      <h2 class="cavallo-naam-groot">
        {{ fantino.nome }}<ng-container *ngIf="fantino.soprannome"> detto {{ fantino.soprannome }}</ng-container>
      </h2>
    </section>

    <section class="segment col-1 span-3 row-2">
      <div class="subsegment">
        <h2 class="section-header" (click)="showInfo = !showInfo" style="cursor: pointer;">
          {{ getTranslation('scheda') }}
          <ion-icon [name]="showInfo ? 'chevron-up-outline' : 'chevron-down-outline'" class="chevron-icon"></ion-icon>
        </h2>
        <div *ngIf="showInfo">
          <ion-grid>
            <ion-row class="equal-height-row">
              <ion-col *ngIf="fantino.nome">
                <ion-item style="align-items: flex-start;"  lines="none" class="ion-itemTransparant">       
                  <ion-text class="cavallo-label">
                    <p class="custom">{{ getTranslation('nome') }}</p>
                    <span>{{fantino.nome}}</span>
                  </ion-text> 
                </ion-item>
              </ion-col>
              <ion-col *ngIf="fantino.soprannome">
                <ion-item lines="none" class="ion-itemTransparant">
                  <ion-text color="kleur2" class="cavallo-label">
                    <p class="custom">{{ getTranslation('soprannome') }}</p>
                    <span>{{fantino.soprannome}}</span>
                  </ion-text>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col *ngIf="fantino.annoNascita">
                <ion-item lines="none" class="ion-itemTransparant">
                  <ion-text color="kleur2" class="cavallo-label">
                    <p class="custom">{{ getTranslation('anno') }}</p>
                    <span>{{fantino.annoNascita}}</span>
                  </ion-text>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
    </section>

    <section class="segment col-4 span-3 row-2">
      <div class="subsegment">
        <h2 class="section-header" (click)="showExperience = !showExperience" style="cursor: pointer;">
          {{ getTranslation('esperienza') }}
          <ion-icon [name]="showExperience ? 'chevron-up-outline' : 'chevron-down-outline'" class="chevron-icon"></ion-icon>
        </h2>
        <div *ngIf="showExperience">
          <ion-grid>
            <ion-row class="equal-height-row">
              <ion-col>
                <ion-item lines="none" class="ion-itemTransparant">       
                  <ion-text class="cavallo-label">
                    <p class="custom">{{ getTranslation('corsi') }}</p>
                    <div style="display: flex; gap: 4px;">
                      <span>{{fantino.paliiCorsi}}</span>
                    </div>
                  </ion-text> 
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item lines="none" class="ion-itemTransparant">
                  <ion-text class="cavallo-label">
                    <p class="custom">{{ getTranslation('vinti') }}</p>
                    <span>{{fantino.paliiVinti}}</span>
                  </ion-text>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="percentualeVinti > 0">
              <ion-col>
                <ion-item lines="none" class="ion-itemTransparant">
                  <ion-text class="cavallo-label">
                    <p class="custom">{{ getTranslation('percentuale') }}</p>
                    <span>{{percentualeVinti}} %</span>
                  </ion-text>
                </ion-item>
              </ion-col>
              <ion-col></ion-col>
            </ion-row>
            <ion-row *ngIf="fantino.paliiCorsi > 0">
              <ion-col>
                <ion-item lines="none" class="ion-itemTransparant">
                  <ion-text class="cavallo-label">
                    <p class="custom">{{ getTranslation('esordio') }}</p>
                    <span>{{fantino.esordio}}</span>
                  </ion-text>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item lines="none" class="ion-itemTransparant">
                  <ion-text class="cavallo-label">
                    <p class="custom">{{ getTranslation('ultimo') }}</p>
                    <span>{{fantino.ultimo}}</span>
                  </ion-text>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
    </section>
    <ng-container *ngIf="fantino.palioCorso && fantino.palioCorso.length > 0">
      <section class="segment col-1 span-6 row-3">
        <div class="subsegment">
          <h2 class="section-header" (click)="showPalio = !showPalio" style="cursor: pointer;">
            {{ getTranslation('elenco') }} {{ fantino.esordio }}
            <ion-icon [name]="showPalio ? 'chevron-up-outline' : 'chevron-down-outline'" class="chevron-icon"></ion-icon>
          </h2>
          <div *ngIf="showPalio">
            <ion-grid class="palio-grid">
            <!-- Desktop: tonen bij breed scherm -->
            <ion-row class="equal-height-row row-header hide-on-mobile">
              <ion-col>
                <ion-text class="cavallo-label"><span>Palio</span></ion-text>
              </ion-col>
              <ion-col>
                <ion-text class="cavallo-label"><span>Contrada</span></ion-text>
              </ion-col>
              <ion-col>
                <ion-text class="cavallo-label"><span>{{ getTranslation('cavallo') }}</span></ion-text>
              </ion-col>
            </ion-row>

            <!-- Mobiel: tonen bij smal scherm -->
            <ion-row class="equal-height-row row-header show-on-mobile">
              <ion-col>
                <ion-text class="cavallo-label"><span>Palio - Contrada - Cavallo</span></ion-text>
              </ion-col>
            </ion-row>
            <ion-row *ngFor="let palio of fantino.palioCorso; let i = index" 
                class="equal-height-row palio-mobile-stack"
                [ngClass]="{ 
                  'row-vinto': palio.vinto === true
                  }">
              <ion-col>
                <div style="display: flex; align-items: center; gap: 8px;">
                  <img *ngIf="palio.drappellonePalioFoto"
                      [src]="palio.drappellonePalioFoto"
                      class="img-palio" />
                  <ion-text class="cavallo-label">
                    <span>{{ palio.palio.nome }}</span>
                  </ion-text>  
                </div>               
              </ion-col>
              <ion-col>
                <div style="display: flex; align-items: center; gap: 8px;">
                  <img *ngIf="palio.contrada.nome"
                      [src]="palio.contrada.logo"
                      class="img-palio" />
                  <ion-text class="cavallo-label">
                    <span>{{ palio.contrada.nome }}</span>
                  </ion-text>  
                </div>
              </ion-col>
              <ion-col (click)="goToCavalloDetail(palio.cavallo.id)" [style.cursor]="'pointer'">
                <div style="display: flex; align-items: center; gap: 8px;">
                  <img *ngIf="palio.cavallo.foto"
                      [src]="palio.cavallo.palioFoto || palio.cavallo.foto"
                      class="img-palio"  />
                  <ion-text class="cavallo-label">
                    <span>{{ palio.cavallo.nome }}
                    <p class="custom2" *ngIf="palio.cavallo.nome">
                      {{ palio.puntoCaduta?.punto }}
                    </p>
                    </span>
                  </ion-text> 
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
      </section>   
    </ng-container> 
  </div>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="scrollToTop()" color="tertiary">
      <ion-icon name="chevron-up-circle" color="primary"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ng-template #loadingTpl>
  <ion-spinner name="dots" class="ion-padding"></ion-spinner>
</ng-template>

