<ion-content *ngIf="!loading; else loadingTpl">
  <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100%; text-align: center; color: white;">
    <h2 style="margin: 0;">Contrada detailpagina</h2>
    <p style="margin-top: 8px;">{{ nome ? (nome.charAt(0).toUpperCase() + nome.slice(1)) : '' }}</p>
  </div>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="scrollToTop()" color="secondary">
      <ion-icon name="chevron-up-circle" color="primary"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ng-template #loadingTpl>
  <div class="spinner-wrapper">
    <ion-spinner name="circular" color="light" class="ion-padding"></ion-spinner>
  </div>
</ng-template>


