<ion-app>
  <div class="background-image"></div>

  <!-- Mobile + Tablet Side Menu -->
  <ion-menu contentId="main-content" menuId="main-menu" side="start" type="overlay">
    <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start"></ion-buttons>
      <ion-title color="secondary">
        Menu
      </ion-title>
    </ion-toolbar>
    </ion-header>
    <ion-content class="menu-content">
      <ion-list>
        <ion-item routerLink="/home" (click)="closeMenu()">{{ getTranslation('home') }}</ion-item>
        <ion-item routerLink="/cavalli" (click)="closeMenu()">{{ getTranslation('cavalli') }}</ion-item>
        <ion-item routerLink="/fantini" (click)="closeMenu()">{{ getTranslation('fantini') }}</ion-item>
        <ion-item routerLink="/contrade" (click)="closeMenu()">{{ getTranslation('contrade') }}</ion-item>        
        <ion-item routerLink="/elenco" (click)="closeMenu()">{{ getTranslation('elenco') }}</ion-item>
        <ion-item routerLink="/statistiche" (click)="closeMenu()">{{ getTranslation('statistiche') }}</ion-item>        
      </ion-list>
    </ion-content>
  </ion-menu>

  <!-- Custom Header -->
  <div class="custom-header">
    <!-- Left side: logo, title, language -->
    <div class="left-side">
      <!-- Hamburger button -->
      <ion-menu-button menu="main-menu" color="secondary" class="hamburger mobile-only"></ion-menu-button>
      <a class="logo-link" [routerLink]="'/home'">
        <img src="https://api.palioapp.com/images/cavalli/palio.png" alt="Palio Logo" class="logo" />
        <span class="title">Archivio Palio</span>
      </a>
    </div>

    <!-- Right side: hamburger + desktop menu -->
    <div class="right-side">
      <!-- Desktop menu -->
      <div class="desktop-menu">
        <ion-button routerLink="/cavalli" fill="clear" color="secondary">{{ getTranslation('cavalli') }}</ion-button>
        <ion-button routerLink="/fantini" fill="clear" color="secondary">{{ getTranslation('fantini') }}</ion-button>
        <ion-button routerLink="/contrade" fill="clear" color="secondary">{{ getTranslation('contrade') }}</ion-button>
        <ion-button routerLink="/elenco" fill="clear" color="secondary">{{ getTranslation('elenco') }}</ion-button>
        <ion-button routerLink="/statistiche" fill="clear" color="secondary">{{ getTranslation('statistiche') }}</ion-button>        
      </div>
      <ion-segment [(ngModel)]="selectedLanguage" (ionChange)="changeLanguage($event.detail.value)" class="lang-switch">
        <ion-segment-button value="en">EN</ion-segment-button>
        <ion-segment-button value="it">IT</ion-segment-button>
        <ion-segment-button value="nl">NL</ion-segment-button>
      </ion-segment>
    </div>
  </div>

  <!-- Main Content -->
  <ion-content id="main-content">
    <ion-router-outlet></ion-router-outlet>
  </ion-content>

  <app-footer></app-footer>
</ion-app>
