<ng-container *ngIf="!loading; else loadingTpl">
  <ion-content>
    <div class="container">

      <!-- Titel -->
      <section class="segment col-1 span-6 row-1 cavallo-header">
        <img src="https://api.palioapp.com/images/cavalli/palio.png" class="cavallo-foto" />
        <h2 class="cavallo-naam-groot">
          {{ getTranslation('titelElenco') }}
        </h2>
      </section>

      <!-- Filters -->
      <section class="segment col-5 span-2 row-2 palio">
        <div class="subsegment">
          <h2 class="section-header" (click)="showFilter = !showFilter" style="cursor: pointer;">
            <div [innerHTML]="getTranslation('filter')"></div>
            <ion-icon [name]="showFilter ? 'chevron-up-outline' : 'chevron-down-outline'" class="chevron-icon"></ion-icon>
          </h2>
          <div *ngIf="showFilter">
            <div class="searchbar-wrapper">
              <ion-searchbar
                [(ngModel)]="searchTerm"
                (ionInput)="searchElenco()"
                debounce="300"
                [placeholder]="getTranslation('searchElenco')" 
                class="custom">
              </ion-searchbar>
            </div>
            <hr class="home-divider">
            <ion-segment [(ngModel)]="filterType" (ionChange)="applyFilters()">
              <ion-segment-button value="erkend">
                <ion-label class="small-label">{{ getTranslation('vittorieCitta') }}</ion-label>
              </ion-segment-button>
              <ion-segment-button value="nietErkend">
                <ion-label class="small-label">{{ getTranslation('vittorieContrada') }}</ion-label>
              </ion-segment-button>
            </ion-segment>
            <hr class="home-divider">

            <div>
              <label for="contradaSelect" class="select-label">{{ getTranslation('filtraContrada') }}</label>
              <div class="select-wrap">
                <select
                  id="contradaSelect"
                  class="custom-select"
                  [(ngModel)]="contradaNaam"
                  (change)="chooseContrada()"
                >
                  <option value="">{{ getTranslation('tuttiPalii') }}</option>
                  <option *ngFor="let contrada of allContrade" [ngValue]="contrada.nome" [hidden]="contrada.id === '0'">
                    {{ contrada.nome }}
                  </option>
                </select>
              </div>
            </div>
            <hr class="home-divider">

            <div class="checkbox-row">
              <label class="custom-checkbox">
                Palii Straordinari
                <ion-checkbox slot="end" [(ngModel)]="straordinario" (ionChange)="applyFilters()"></ion-checkbox>
              </label>
            </div>
            <div class="checkbox-row">
              <label class="custom-checkbox">
                Palii Rinviati
                <ion-checkbox slot="end" [(ngModel)]="rinviato" (ionChange)="applyFilters()"></ion-checkbox>
              </label>
            </div>
            <div class="checkbox-row">
              <label class="custom-checkbox">
                Cappotti
                <ion-checkbox slot="end" [(ngModel)]="cappotto" (ionChange)="applyFilters()"></ion-checkbox>
              </label>
            </div>
            <hr class="home-divider">

            <ion-grid>
              <ion-row>
                <label class="select-label">{{ getTranslation('dueAnni') }}</label>
              </ion-row>
              <ion-row>
                <ion-col size="6">
                  <input type="number" [placeholder]="getTranslation('primoAnno')" [(ngModel)]="beginJaar" class="custom-input" />
                </ion-col>
                <ion-col size="6">
                  <input type="number" [placeholder]="getTranslation('ultimoAnno')" [(ngModel)]="eindJaar" class="custom-input" />
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="6">
                  <ion-button class="home-button" (click)="wisJaarFilter()">{{ getTranslation('svuotate') }}</ion-button>
                </ion-col>
                <ion-col size="6">
                  <ion-button class="home-button" (click)="vai()">{{ getTranslation('vai') }}</ion-button>
                </ion-col>
              </ion-row>
              <ion-row class="ion-justify-content-center">
                <ion-col size="12">
                  <label class="select-label" *ngIf="invalidYear" style="color: red;">
                    {{ getTranslation('invalidYears') }}
                  </label>
                </ion-col>
              </ion-row>
            </ion-grid>
            <hr class="home-divider">

            <ion-button (click)="resetFilters()" class="home-button">{{ getTranslation('resetFilter') }}</ion-button>
          </div>
        </div>
      </section>

      <!-- Lijst zonder eeuwheader -->
      <section class="segment col-1 span-4 row-2 cavalli">
        <div class="subsegment">
          <ng-container *ngIf="getPagedItems().length > 0; else noItemsTpl">
            <ng-container *ngFor="let p of getPagedItems()">
              <div class="palio-wrapper palio-wrapper--groot">
                <ion-grid>
                  <ion-row class="equal-height-row elenco-mobile-stack">
                    <ion-col (click)="p.palioDate && goToPalioDetail(p.palioDate)" [style.cursor]="p.palioDate ? 'pointer' : 'default'">
                      <div class="palio-col-groot">
                        <img [src]="p.drappellonePalioFoto || 'assets/palio.png'" class="img-palio" />
                        <ion-text class="cavallo-label">
                          <span style="font-weight: bold">{{ p.palio }}</span>
                        </ion-text>
                      </div>
                    </ion-col>
                    <ion-col (click)="p.contrada && goToContradaDetail(p.contrada)" [style.cursor]="p.contrada ? 'pointer' : 'default'">
                      <ion-label>
                        <div class="palio-col-groot">
                          <img 
                            [src]="p.contradaLogo || (p.contrada ? 'https://api.palioapp.com/images/contrade/' + p.contrada + '.png' : 'assets/palio.png')" 
                            class="img-palio" />
                          <div style="display: flex; flex-direction: column;">
                            <div class="cavallo-name">{{ p.contrada }}</div>
                            <div class="cavallo-info">contrada</div>
                          </div>
                        </div>
                      </ion-label>
                    </ion-col>
                  </ion-row>

                  <ion-row class="equal-height-row elenco-mobile-stack">
                    <ion-col (click)="p.cavalloId && goToCavalloDetail(p.cavalloId)" [style.cursor]="p.cavalloId ? 'pointer' : 'default'">
                      <ion-label>
                        <div class="palio-col-groot">
                          <img [src]="p.cavalloId ? (p.cavalloPalioFoto || p.cavalloFoto) : 'assets/palio.png'" class="img-palio" />
                          <div style="display: flex; flex-direction: column;">
                            <div class="cavallo-name">{{ p.cavallo }}</div>
                            <div [innerHTML]="getTranslation('cavallo')" class="cavallo-info"></div>
                          </div>
                        </div>
                      </ion-label>
                    </ion-col>
                    <ion-col (click)="p.fantinoId && goToFantinoDetail(p.fantinoId)" [style.cursor]="p.fantinoId ? 'pointer' : 'default'">
                      <ion-label>
                        <div class="palio-col-groot">
                          <img [src]="p.fantinoId ? (p.fantinoPalioFoto || p.fantinoFoto) : 'https://api.palioapp.com/images/fantini/fantino.jpg'" class="img-palio" />
                          <div style="display: flex; flex-direction: column;">
                            <div class="cavallo-name">{{ p.fantino }}</div>
                            <div [innerHTML]="getTranslation('fantino')" class="cavallo-info"></div>
                          </div>
                        </div>
                      </ion-label>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </div>
            </ng-container>
          </ng-container>
          <ng-template #noItemsTpl>
            <div class="palio-wrapper palio-wrapper--groot">
                <ion-grid>
                  <ion-row class="equal-height-row elenco-mobile-stack">
                    <ion-col>
                      <div class="cavallo-name">{{ getTranslation('noResult') }}</div>                      
                    </ion-col>
                  </ion-row>
                </ion-grid>            
            </div>
          </ng-template>
        </div>

          <!-- Paginatie knoppen -->
          <div class="pagination-buttons">
            <ion-button 
              (click)="currentPage = currentPage - 1"
              [style.visibility]="currentPage > 1 ? 'visible' : 'hidden'">
              &lt;
            </ion-button>

            <span>{{ getTranslation('pagina') }} {{ currentPage }} {{ getTranslation('di') }} {{ totalPages }}</span>

            <ion-button 
              (click)="currentPage = currentPage + 1"
              [style.visibility]="currentPage < totalPages ? 'visible' : 'hidden'">
              &gt;
            </ion-button>
          </div>


      </section>

    </div>

    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button (click)="scrollToTop()" color="secondary">
        <ion-icon name="chevron-up-circle" color="primary"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>
</ng-container>

<ng-template #loadingTpl>
  <div class="spinner-wrapper">
    <ion-spinner name="circular" color="light" class="ion-padding"></ion-spinner>
  </div>
</ng-template>
